/* Aura Finance Theme */
:root {
    /** primary **/
    --ion-color-primary: #06b6d4;
    --ion-color-primary-rgb: 6, 182, 212;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #059bb;
    --ion-color-primary-tint: #22c3dc;

    /** secondary **/
    --ion-color-secondary: #8b5cf6;
    --ion-color-secondary-rgb: 139, 92, 246;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #7a51d8;
    --ion-color-secondary-tint: #9770f7;

    /** success **/
    --ion-color-success: #10b981;
    --ion-color-success-rgb: 16, 185, 129;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ea372;
    --ion-color-success-tint: #28c594;

    /** warning **/
    --ion-color-warning: #f59e0b;
    --ion-color-warning-rgb: 245, 158, 11;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d88b0a;
    --ion-color-warning-tint: #f6a823;

    /** danger **/
    --ion-color-danger: #ef4444;
    --ion-color-danger-rgb: 239, 68, 68;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d23c3c;
    --ion-color-danger-tint: #f15757;

    /** dark **/
    --ion-color-dark: #0f172a;
    --ion-color-dark-rgb: 15, 23, 42;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #0d1425;
    --ion-color-dark-tint: #273141;

    /** medium **/
    --ion-color-medium: #64748b;
    --ion-color-medium-rgb: 100, 116, 139;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #58667a;
    --ion-color-medium-tint: #748297;

    /** light **/
    --ion-color-light: #f1f5f9;
    --ion-color-light-rgb: 241, 245, 249;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d4d8db;
    --ion-color-light-tint: #f2f6fa;

    /** Background **/
    --ion-background-color: #0f172a;
    --ion-background-color-rgb: 15, 23, 42;

    --ion-text-color: #f1f5f9;
    --ion-text-color-rgb: 241, 245, 249;

    --ion-card-background: #1e293b;
}

/* iOS Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --ion-background-color: #0f172a;
        --ion-background-color-rgb: 15, 23, 42;
        --ion-text-color: #f1f5f9;
        --ion-text-color-rgb: 241, 245, 249;
    }
}
